@import "src/styles/app-theme";
header {
  height: 50px;
  background-color: $secondary-color;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-family: $accent-font;
  color: white;
}
