$primary-color: #0099cc;
$secondary-color: #248fb3;
$accent-color: #00cc33;

$main-font: "Roboto", sans-serif;
$accent-font: 'Raleway', sans-serif;

$primary-font-color: #666666;
$secondary-font-color: #999999;
