<section class="filters">
  <select name="Select Year" [formControl]="yearControl" (ngModelChange)="onYearChange()">
    <option *ngFor="let year of yearOptions" [value]="year">{{year}}</option>
  </select>
  <app-month-select (change)="onMonthChange($event)"></app-month-select>
</section>

<section class="calendar" *ngIf="daysArray.length > 0">
  <section class="day" *ngFor="let dayItem of daysArray; let dayNum = index;">
    <h1 class="day__name">
      <span class="day__name__num">{{dayNum + 1}}</span>
      <span>{{dayItem.day | date: 'EEEE'}}</span>
    </h1>
    <div class="day__events">
      <p *ngFor="let event of dayItem.events">{{event.name}}</p>
    </div>
  </section>
</section>
